// Primario
$color-primary: #330072;
$color-primary-dark: #1f0d3f;
$color-primary-light: #bb65ff;

$color-text-primary: #fff;
$color-text-button: #4e2385;
$color-text-button-table: #FFF;
$color-text-button_disabled: #807393;
$color-border: #BB65FF;
$color-background-input: #3b0c78;

$color-text-error: red;

$color-bg-button: #fff;
$color-bg-button_disabled: rgba(157, 157, 161, 0.30);
$color-bg-button-table: #6429CD;

$color-border-button-profile: #FFF;

$color-bg-modal: #1F0D3F;
$color-border-modal: #9051D3;
$color-bg-player-viewer: #BDBDFF;

$primary-60-purple-primary-purple-500: #6429CD;
$gray-scale-Gray-50: #F6F7FC;
$shades-White-50: #FFFFFF;
$secondary-30-purple-secondary-purple-500: #9610FF;
$primary-60-purple-primary-purple-900: #1F0D3F;
$opacity-Primary-purple-500-Opacity-100: rgba(100, 41, 205, 0.08);
$primary-60-purple-primary-purple-700: #330072;
$opacity-Gray-400-Opacity-500: rgba(157, 157, 161, 0.60);
$secondary-30-purple-secondary-purple-300: #BB65FF;
